<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>244626784052-3n9o4qjfo8q17tdkttsa5md1kklh4s61.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.244626784052-3n9o4qjfo8q17tdkttsa5md1kklh4s61</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>244626784052-03pp4s29p71b19qiiqh00i1p7qchov7k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCgb6sE7YWkGl-J9i0n-T5GBXMMPG8oD5M</string>
	<key>GCM_SENDER_ID</key>
	<string>244626784052</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hitechhandymen.template</string>
	<key>PROJECT_ID</key>
	<string>high-school-connect-ca098</string>
	<key>STORAGE_BUCKET</key>
	<string>high-school-connect-ca098.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244626784052:ios:9aa0ed6ab0f37c71</string>
	<key>DATABASE_URL</key>
	<string>https://high-school-connect-ca098.firebaseio.com</string>
</dict>
</plist>